<div class="abt">
<p>Our Story</p><br>
<div class="cont1">
<span>Vikn Codes is a  technology company that offers various IT services, including digital marketing, mobile app development, UI/UX design, web app and website development, custom software development, training and career development, branding, and quality assurance. We aim to provide innovative solutions and exceptional services to help businesses grow and succeed in the digital age.</span>
</div>
<div class="link">
<a [routerLink]="['/portfolio']">Our Works<img src="\right-arrow.svg" height="30px" width="100px"></a>
</div>
</div>