
<div class="work">
    <div class="heading">Our Works</div>
    <div class="cont">
     <div class="card1"><img src="/work1.png" height="300px" width="300px"></div>
     <div class="card2"><img src="/work2.avif" height="300px" width="300px"></div>
     <div class="card3"><img src="/work3.jpg" height="300px" width="300px"></div>
     <div class="card4"><img src="/work4.jpg" height="300px" width="300px"></div>
     <div class="card5"><img src="/work5.png" height="300px" width="300px"></div>
     <div class="card6"><img src="/work6.png" height="300px" width="300px"></div>
     <div class="card7"><img src="/work7.jpeg" height="300px" width="300px"></div>
     <div class="card8"><img src="/work8.png" height="300px" width="300px"></div>
 </div>
 </div>
 