<div class="serv">
   <div class="heading">Services</div>
   <div class="cont">
    <div class="card1"><img src="/mobile-app.png" height="250px" width="280px"><p>Mobile App Development</p> </div>
    <div class="card2"><img src="/web design.jpg" height="250px" width="280px"><p>Web Designing</p></div>
    <div class="card3"><img src="/web-dev.jpeg" height="250px" width="280px"><p>Web Development</p></div>
    <div class="card4"><img src="/graphic-design.webp" height="250px" width="280px"><p>Graphic Designing</p></div>
    <div class="card5"><img src="/epr.webp" height="250px" width="280px"><p>EPR Solutions</p></div>
    <div class="card6"><img src="/explore.avif" height="250px" width="280px"><p>Explore our Design Packages</p></div>
</div>
</div>
