<div class="home">
  <div class="content">
<div class="p1">Software Company</div><br>
<div class="p2">We Help Business<br>Stand Out</div><br>
<button>Get in Touch &nbsp;<img src="\right-arrow.svg" height="30px" width="20px"> </button>&nbsp;
<button>Offer Jobs &nbsp;<img src="\right-arrow.svg" height="30px" width="20px"></button><br><br>
<div class="p3">By Creating Stunning <a href="#">Visual identities</a> and <a href="#">Awesome Websites</a></div><br>
<div class="p4">Our mission is to help Every person and organization in the planet to<br> Achieve greatness.</div><br>
<div class="butn">
<button id="b1" [routerLink]="['/portfolio']">Portfolio<img src="\arrow-diagonal.svg" height="20px" width="20px"></button>&nbsp;
<button id="b2">Products<img src="\arrow-diagonal.svg" height="20px" width="20px"></button>
</div>
</div>
</div>